@use "../../../styles/global.scss" as *;

.login {
    min-height: 355px;
    padding-top: 60px;

    &__form-container {
        display: flex;
        flex-direction: column;
        padding: 30px;

        &-title {
            margin-bottom: 30px;
            font-size: 1.8rem;
            font-weight: 500;
            color: $tertiary-color;
        }

        .login__form {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-input {
                width: 100%;

                &-email {
                    width: 260px;
                    .login__form-email {
                        width: 245px;
                        padding: 8px;
                        margin-bottom: 10px;
                        border: 1px solid #222;
                        border-radius: 5px;
                        font-family: $secondary-font;
                        font-size: 0.8rem;
                        color: #333;
                    }
                }

                &-password {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 6px;
                    border: 1px solid #222;
                    border-radius: 5px;
                    width: 260px;

                    &.focused{
                        border: 2px solid #222;
                    }

                    .login__form-password {
                        width: 260px;
                        padding: 8px;
                        border: 1px solid transparent;
                        border-radius: 5px;
                        font-family: $secondary-font;
                        font-size: 0.8rem;
                        color: #333;

                        &:focus{
                            border: none;
                            outline: none;
                        }
                    }

                    .login__form-see-password {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 40px;

                        &-button {
                            width: 15px;
                            height: 15px;
                            box-sizing: content-box;
                            padding: 0;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;

                            &-img {
                                fill: #222;
                            }
                        }
                    }
                }
            }

            &-error {
                margin-bottom: 5px;
                padding: 5px;
                font-size: 0.8rem;
                color: rgb(247, 66, 66);
            }

            &-link {
                margin-bottom: 25px;
                font-size: 0.8rem;
                font-weight: 400;
                color: $tertiary-color;
                text-decoration: none;
            }

            &-login-button {
                margin-bottom: 15px;
                padding: 10px;
                background-color: #222;
                border: 1px solid #222;
                border-radius: 5px;
                font-family: $secondary-font;
                font-weight: 500;
                color: #ffffff;
                cursor: pointer;
            }
        }

        .login__redirect-to-register {
            font-size: 0.8rem;
            font-weight: 400;
            color: #333;

            &-link {
                text-decoration: none;
                color: $tertiary-color;
            }
        }
    }



    @include respond-to(tablet) {
        display: flex;
        justify-content: center;
        min-height: 740px;

        &__form-container {
            align-items: center;
            width: 300px;
            padding: 50px 100px;

            &-title {
                margin-bottom: 40px;
            }

            .login__form {
                display: flex;
                align-items: center;

                &-input {
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    &-email {
                        align-self: self-start;
                        .login__form-email {
                            width: 280px;
                            padding: 10px;
                        }
                    }

                    &-password {
                        width: 300px;

                        .login__form-password {
                            padding: 10px;
                        }
                    }
                }

                &-error {
                    padding: 10px;
                    font-size: 0.84rem;
                }

                &-link {
                    margin-bottom: 30px;                    
                }

                &-login-button {
                    width: 300px;
                    padding: 12px;
                    font-size: 0.85rem;
                }
            }
        }
    }

    @include respond-to(laptop) {
        &__form-container {
            padding: 80px 100px;
        }

        &-error {
            padding: 15px;
            font-size: 0.85rem;
        }
    }
    
    @include respond-to(desktop) {
        &__form-container {
            padding: 120px 100px;
        }
    }
}
