@use "../../styles/global.scss" as *;

/* Cubre toda la pantalla con fondo oscuro y blur */
.workout-planner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    z-index: -1;
  }

  &__container {
    position: relative;
    width: 320px;
    padding: 20px;
    background-color: white;
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: $primary-font;
    z-index: 1; /* Asegura que el contenido esté sobre el fondo */
    transform: scale(0.95);
    transition: transform 0.3s ease;
  }

  &__title {
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    color: $tertiary-color;
  }

  &__add-week-btn {
    padding: 5px;
    margin-top: 5px;
    background-color: $tertiary-color;
    border: 1px solid $dark-tertiary-color;
    border-radius: 5px;
    font-family: $secondary-font;
    font-size: 0.7rem;
    font-weight: 500;
    color: #111;
  }

  &__actions {
    display: flex;
    justify-content: center;
    gap: 10px;

    &-btn {
      padding: 5px 8px;
      margin-top: 5px;
      background-color: #222;
      border: 1px solid #222;
      border-radius: 5px;
      font-family: $secondary-font;
      font-size: 0.7rem;
      font-weight: 500;
      color: #fff;
    }
  }

  @include respond-to(tablet) {
    &__container {
      width: 560px;
    }

    &__add-week-btn {
      align-self: start;
      width: 170px;
      padding: 10px;
      font-size: 0.81rem;
    }
    
    &__actions {
      justify-content: space-evenly;
      width: 100%;
      box-sizing: content-box;

      &-btn {
          padding: 10px 70px;
          font-size: 0.81rem;
      }
    }
  }

  @include respond-to(laptop) {
    &__container {
      width: 820px;
    }
    
    &__add-week-btn {
      font-size: 0.85rem;
      cursor: pointer;

      &:hover {
          background-color: $dark-tertiary-color;
      }
    }

    &__actions {
        &-btn {
            font-size: 0.85rem;
            cursor: pointer;

            &:hover {
                background-color: #333;
            }
        }
    }
  }
}

.week-card {
  

}