@use "../../../styles/global" as *;

.footer-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 237, 232);
    width: 100%;
    height: 166px;
    margin-top: 50px;

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;
        margin-bottom: 35px;
        padding: 0 10px;

        &-item {
            display: inline-flex;
            white-space: nowrap;
        }

        &-link {
            text-decoration: none;
            color: $tertiary-color;
            font-size: 0.65rem;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__rights {
        text-align: center;

        &-text {
            color: #333;
            font-size: 0.6rem;
            margin: 0;
        }
    }

    // Usando mixins para los breakpoints
    @include respond-to(tablet) {
    }

    @include respond-to(laptop) {
        height: 132px;

        &__list {
            margin: 20px;
            &-item {
                display: inline-block;
            }
            &-link {
                font-size: 0.7rem;
            }
        }
    }

    @include respond-to(desktop) {

        &__list {
            gap: 35px;
        }
    }
}